1. Monte um passo a passo para o algoritmo RF:

- o dataset é dividido em amostras aleatóricas com reposição selecionando linhas e colunas (Bootstrap + Feature selection);

- para cada amostra são contruídas árvores de decisão (Base learners);

- os resultados de cada árvore de decisão é agregado para obter o resultado final do random forest (tabela de frequencia ou média).

2. Explique com suas palavras o Random Forest:

Random Forest é uma ferramenta usada para melhorar a acurácia e performance de um algoritmo de machine learning através do uso de amostras aleatórias do dataset original com reposição, gerando para cada amostra uma árvore de decisão. Os resultados dessas árvores de decisão são agregados para formar a previsão final com o melhor resultado.

3.(Opcional) Implementar em python código o Random Forest:

In [23]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn import metrics

In [24]:
# carregando os dados:

df = pd.read_csv('titanic.csv')
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [25]:
df.columns

Index(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype='object')

In [26]:
df.drop(['home.dest', 'name', 'cabin', 'boat', 'body'], axis=1, inplace=True)

In [27]:
df.isna().sum()

pclass        1
survived      1
sex           1
age         264
sibsp         1
parch         1
ticket        1
fare          2
embarked      3
dtype: int64

In [28]:
df = df.dropna()
df.head()

   pclass  survived     sex      age  sibsp  parch  ticket      fare embarked
0     1.0       1.0  female  29.0000    0.0    0.0   24160  211.3375        S
1     1.0       1.0    male   0.9167    1.0    2.0  113781  151.5500        S
2     1.0       0.0  female   2.0000    1.0    2.0  113781  151.5500        S
3     1.0       0.0    male  30.0000    1.0    2.0  113781  151.5500        S
4     1.0       0.0  female  25.0000    1.0    2.0  113781  151.5500        S

In [81]:
df = pd.get_dummies(df)

In [82]:
# escolhendo a variável target: 'Total Deaths'

X = df.drop(['survived'], axis=1)
y = df['survived']

In [83]:
# dividindo o dataset em treino e teste:

X_train, X_test, y_train, y_test = train_test_split(X, y,  
                                       random_state=100)

In [84]:
# criando uma árvore de decisão:

tree = DecisionTreeClassifier(random_state = 100)
tree = tree.fit(X_train, y_train)
y_train_pred = tree.predict(X_train)
y_test_pred = tree.predict(X_test)

In [85]:
# verificando a acurácia:

tree_train = accuracy_score(y_train, y_train_pred)
tree_test = accuracy_score(y_test, y_test_pred)
print(f'Decision tree train/test accuracies: {tree_train:.3f}/{tree_test:.3f}')

Decision tree train/test accuracies: 1.000/0.793

In [86]:
# criando o modelo random forest:

clf = RandomForestClassifier(n_estimators = 5, random_state = 100)  
  
clf.fit(X_train, y_train)
  
y_test_pred = clf.predict(X_test)
y_train_pred = clf.predict(X_train)

In [87]:
# verificando a acurácia:

rf_train = accuracy_score(y_train, y_train_pred)
rf_test = accuracy_score(y_test, y_test_pred)
print(f'Bagging train/test accuracies: {rf_train:.3f}/{rf_test:.3f}')

Bagging train/test accuracies: 0.964/0.762